mixin sidebarlist(tree, top)
  if top
    li.haschildren
      a(href='#'+tree.name.replace(/\./g, "_"))=tree.short_colloquial
  each item in tree.children
    li(class=item.children.length>0 ? "haschildren":"")
      a(href='#'+item.name.replace(/\./g, "_"))=item.short_colloquial
    +sidebarlist(item)

mixin apidoclist(item)
  if item.colloquial
    .row(id=item.name.replace(/\./g, "_"))
      .col-md-12.entry
        .panel.panel-default
          .panel-heading.classname=item.colloquial
          .panel-body
            .desc!=item.description
            if item.calltypes && item.calltypes.length > 0
              table.params
                tbody
                  each calltype,index in item.calltypes
                    tr.callname
                      td.calldesc(colspan=3)=item.short+'('+calltype.params.map(function(x){return x.name;}).join(", ")+')'
                      each param in calltype.params
                        tr.param
                          td.name=param.name
                          td.type=param.types
                          td.description!=param.description
                    if calltype.returns
                      tr.returns
                        td.static Returns
                        td.type=calltype.returns.types
                        td.description!=calltype.returns.description

          if item.examples && item.examples.length > 0
            .panel-body.examples
              h4=item.examples.length===1 ? "Example:" : "Example:"
              each example in item.examples
                .example!=example
          if item.examples && item.links.length > 0
            .panel-body.related
              h4 Related:
              ul.related_links
                each link in item.links
                  li.also_see
                    a(href="#"+link.replace(".","_"))=link
          .panel-footer
            if item.sourceLinks
              each link in item.sourceLinks
                a(target="_blank",href=link.link)=" " + link.text
  each child in item.children
    +apidoclist(child)

doctype html
html
  head
    include ./_head.jade

  body(data-spy="scroll",data-target=".sidebar")
    .container
      header.keystone.row
        .col-md-2
          a(href="..")
            img#cjs_logo(src="../resources/cjs_logo_256.png",title="ConstraintJS")
        .col-md-10
            ul.nav.navbar-nav.hidden-xs
              li
                a(href="..") Home
              li
                a(target="tut",href="https://github.com/soney/ConstraintJS/wiki") Tutorial
              li.active
                a(target="_blank",href=".") API
      .row
        .col-sm-3(role="complimentary").hidden-xs
          .sidebar.bs-sidebar(data-spy="affix", data-offset-top=0)
            ul.top.nav
              +sidebarlist(docs, true)
        .col-sm-9.content(role="main")
          h1 ConstraintJS API
          +apidoclist(docs)

    include ./_footer.jade
script.
  $("pre").addClass("prettyprint");
  var height_diff = 100;
  $(window).on('resize', function() {
    $(".sidebar").height(window.innerHeight-height_diff+"px"); 
  });
  $(".sidebar").height(window.innerHeight-height_diff+"px"); 
  prettyPrint();
